@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #262626; /* neutral-800 from Tailwind CSS v4.1 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* NOTE: ダークモードを実装したい場合、ここで対応する */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
