@import "tailwindcss";
@plugin "daisyui" {
  themes: bumblebee --default, halloween --prefersdark, lofi, valentine,
    caramellatte, autumn, aqua, synthwave, night;
  prefix: "d-";
}

/* @theme {
  --color-pokemon-normal: #a1abb3;
  --color-pokemon-fire: #c73637;
  --color-pokemon-water: #2975d6;
  --color-pokemon-electric: #edbd05;
  --color-pokemon-grass: #37a320;
  --color-pokemon-ice: #2fbfcf;
  --color-pokemon-fighting: #de7400;
  --color-pokemon-poison: #8f4ac4;
  --color-pokemon-ground: #804a1f;
  --color-pokemon-flying: #78a9db;
  --color-pokemon-psychic: #d64777;
  --color-pokemon-bug: #8a9919;
  --color-pokemon-rock: #a8a37b;
  --color-pokemon-ghost: #6e346e;
  --color-pokemon-dragon: #4959d1;
  --color-pokemon-dark: #4a3733;
  --color-pokemon-steel: #62a2b9;
  --color-pokemon-fairy: #e667e6;
} */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
